[Unit]
Description=dconf updater for gnome
After=graphical-session.target

[Service]
Type=oneshot
User=%i
ExecStart=/usr/local/bin/dconf-updater.sh
StandardOutput=journal
# Add these to bypass security modules (if safe for your use case):
#SELinuxContext=system_u:system_r:unconfined_t:s0
#AppArmorProfile=unconfined

[Install]
WantedBy=multi-user.target
