controller:
  admin:
    password: "admin"

  agentListenerEnabled: "false" #

  additionalPlugins:
    - job-dsl:1.87

  JCasC:
    defaultConfig: false
    enabled: true
    configScripts:
      kubernetes: |
        jenkins:
          clouds:
          - kubernetes:
              containerCapStr: "30"
              defaultsProviderTemplate: ""
              connectTimeout: "5"
              readTimeout: "15"
              jenkinsUrl: "http://localhost:8080"
              # jenkinsUrl: "http://jen-jenkins.default.svc.cluster.local:8080"
              webSocket: true
              # jenkinsTunnel: "jen-jenkins-agent.default.svc.cluster.local:50000"
              # skipTlsVerify: false
              skipTlsVerify: true
              usageRestricted: false
              maxRequestsPerHostStr: "32"
              retentionTimeout: "5"
              waitForPodSec: "600"
              name: "kubernetes"
              namespace: "default"
              restrictedPssSecurityContext: false
              # serverUrl: "https://kubernetes.default"
              serverUrl: "192.168.49.2:6443"
              credentialsId: ""
              podLabels:
              - key: "jenkins/jen-jenkins-agent"
                value: "true"
              templates:
                - name: "default"
                  namespace: "default"
                  id: d05f1a832f8657e0e01902696b5ad35b806d9d41ec6657c6d16c768c8d712d47
                  containers:
                  - name: "jnlp"
                    alwaysPullImage: false
                    args: "^${computer.jnlpmac} ^${computer.name}"
                    envVars:
                      - envVar:
                          key: "JENKINS_URL"
                          value: "http://localhost:8080"
                          # value: "http://jen-jenkins.default.svc.cluster.local:8080/"
                    image: "jenkins/inbound-agent:3327.v868139a_d00e0-7"
                    privileged: "false"
                    resourceLimitCpu: 512m
                    resourceLimitMemory: 512Mi
                    resourceRequestCpu: 512m
                    resourceRequestMemory: 512Mi
                    ttyEnabled: false
                    workingDir: /home/jenkins/agent
                  idleMinutes: 0
                  instanceCap: 2147483647
                  label: "jen-jenkins-agent "
                  nodeUsageMode: "NORMAL"
                  podRetention: Never
                  showRawYaml: true
                  serviceAccount: "default"
                  slaveConnectTimeoutStr: "100"
                  yamlMergeStrategy: override
                  inheritYamlMergeStrategy: false


      seed-jobs: |
        jobs:
          - script: >
              pipelineJob('dev-sleep-job') {
                description('A simple job for testing that sleeps for 1 minute.')
                definition {
                  cps {
                    script('pipeline { agent any; stages { stage("Sleep") { steps { echo "Sleeping for 3 minutes..."; sleep 180; echo "Done sleeping." } } } }')
                    sandbox(true)
                  }
                }
              }

persistence:
  enabled: false
